:root {
    --maincolor: rgb(255, 32, 110);
    --font-family: Open Sans;
}

.navbar-expand-lg .navbar-nav { 
    color: var(--maincolor);
}
.hero{
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
    font-family:Open Sans ;
    margin-right: 
}
.hero span{
    color: var(--maincolor);
    margin-top: 10px;
    font-size: 16px;
}
.hero h1{
    font-size: 48px;
}
.hero p{
    font-size: 16px;
}
.hero-content{
    width: fit-content;
    margin-left: 100px;
}
.hero .icons div {
    width : 30px ;
    height :30px ;
    border: 1px solid #6c757d87 ;
    transition: 1.2s;
}
.hero div :hover {
   border: 1px solid #f0f1f187 ;
}
.about h2{
    font-size: 40px;
    font-family: var(--font-family);
    font-weight: 800;
    Line-height: 48px
}
.about p{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 22.4px;
}
.about .about-content{
    h4{
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
        color: rgb(255, 32, 110);
    }
    p{
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        font-family: var(--font-family);
    }
    a:not([href]):not([class]), a:not([href]):not([class]):hover {
     color: rgb(0, 0, 0);  
     font-weight: 600;
     text-decoration: underline;
}
}
.Portfolio h2{
    font-size: 40px;
    font-family: var(--font-family);
    font-weight: 800;
}
.Portfolio .nav-tabs .nav-link.active {
    color: var(--maincolor);
border-color: transparent;
}
.Portfolio .nav-tabs{
    border: transparent;
}
.Portfolio .nav-tabs .nav-link{
    color: black;
}

.tab-pane {
  min-height: auto ;
  height: auto ;
}
.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.Testimonials img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin-top: -40px;
}

.Testimonials h4 {
    font-weight: 700;
    margin-top: 15px;
}

.Testimonials .job-title {
    color: gray;
    margin-top: -5px;
    font-size: 15px;
    margin-bottom: 10px;
}

.Testimonials .testimonial-text {
    width: 70%;
    margin: 0 auto;
    color: #555;
    font-size: 17px;
}

.carousel-item {
    padding: 40px 0;
}

.carousel-indicators [data-bs-target] {
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: black;
}

.Testimonials h2{
font-family: var(--font-family);
font-size: 40px;
font-weight: 800;
line-height: 48px;
color: rgb(0, 0, 0);
}
